html, body {
	height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-family: 'Lato';
    font-size: 18px;
}

.container {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.content {
    text-align: center;
    display: table;
}

.formRW {
    display: table-row;
}

.formCL {
    text-align: left;
    display: table-cell;
}

.userRW {
    width: 80%;
    display: table-row;
}

.title {
    font-size: 96px;
    font-style: bold;
    text-decoration: none;
    color: black;
}